<div *ngIf="dataLoaded== false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
    <label for="filterText" class="form-label">Search Product</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search">
</div>
<div *ngIf="filterText!=''" class="alert alert-success">
    <span class="bold">{{filterText}}</span> aradınız
</div>
<table *ngIf="dataLoaded== true" class="table table-success table-striped table-hover table-responsive-sm shadow p-3 mb-5 bg-body rounded">
    <thead class="table-success">
        <tr>
            <th>Product Id</th>
            <th>Category Id</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Price with VAT</th>
            <th>Units in Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products |filterPipe:filterText">
            <td>{{ item.productId }}</td>
            <td>{{ item.categoryId }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.unitPrice |currency}}</td>
            <td>{{ item.unitPrice |vatAdded:18 |currency}}</td>
            <td>{{ item.unitsInStock }}</td>
            <td><button (click)="addToCart(item)" class="btn btn-success btn-xs">Sepete Ekle</button></td>
        </tr>
    </tbody>
</table>